version: 2.1
orbs:
  slack: circleci/slack@4.12.5
jobs:
  run-test:
    docker:
      - image: mcr.microsoft.com/playwright:v1.36.0-jammy
    # Steps to the job
    steps:
      - checkout
      - run:
          name: Download dependency
          environment:
            SECRET_KEY: SECRET_KEY 
          command: npm ci
      - run:
          name: Run tests
          command: npm run test:ci
      - store_artifacts:
          path: /root/project/output
          destination: output
      - store_artifacts:
          path: /root/project/playwright-report
          destination: test-report
      - slack/notify:
          event: pass
          mentions: "<D03NTNEMULE>"
          template: basic_success_1
      - slack/notify:
          event: fail
          mentions: "@junhao.hu"
          template: basic_fail_1
# Invoke jobs via workflows
workflows:
  run-test-workflow:
    jobs:
      - run-test